<!-- /snippets/index-product-item.liquid -->
{%- if  settings.product_item_image_width and settings.product_item_image_height -%}
  {%- assign product_image_size = settings.product_item_image_width | append: 'x' | append: settings.product_item_image_height -%}
{%- elsif settings.product_item_image_width -%}
  {%- assign product_image_size = settings.product_item_image_width | append: 'x' -%}
{%- elsif settings.product_item_image_height -%}
  {%- assign product_image_size = 'x' | append: settings.product_item_image_height -%}
{%- else -%}
  {%- assign product_image_size = '450x' -%}
{%- endif -%}
<div class="product-item" data-product-item>
  <div class="product-item-thumb">
    <a href="{{ shop.url }}{{ product.url }}" class="product-item-images">
      {%- assign number_of_images = product.images | size | plus: 0 -%}
      <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ product.featured_image | product_img_url: product_image_size, crop: 'center' }}" {% if settings.product_item_retina %}data-srcset="{{ product.featured_image | product_img_url: product_image_size, crop: 'center' }} 800w, {{ product.featured_image | product_img_url: product_image_size, crop: 'center', scale: 2 }} 1440w, {{ product.featured_image | product_img_url: product_image_size, crop: 'center', scale: 3 }} 1920w"{% endif %} alt="{{ product.featured_image.alt | escape }}" class="lazyload product-item-image" data-viewed-image />
      {%- if number_of_images > 1 -%}
        <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ product.images[1] | product_img_url: product_image_size, crop: 'center' }}" {% if settings.product_item_retina %}data-srcset="{{ product.images[1] | product_img_url: product_image_size, crop: 'center' }} 800w, {{ product.images[1] | product_img_url: product_image_size, crop: 'center', scale: 2 }} 1440w,  {{ product.images[1] | product_img_url: product_image_size, crop: 'center', scale: 3 }} 1920w"{% endif %} alt="{{ product.images[1].alt | escape }}" class="lazyload product-item-image show-for-large" />
      {%- endif -%}
    </a>
    {%- if settings.product_item_quick_view -%}
      <a href="{{ shop.url }}{{ product.url }}" data-quick-view data-handle="{{ product.handle }}" class="product-item-button product-item-button-quick-view" title="{{ 'general.button.quick_view' | t }}"><em class="sli sli-eye"></em> <span>{{ 'general.button.quick_view' | t }}</span></a>
    {%- endif -%}
    {%- if settings.product_item_label -%}
      <div class="product-item-label-list">
        {%- if settings.product_item_label_sale -%}
          {%- if product.compare_at_price_max > product.price -%}
            {%- assign percent = product.compare_at_price_max | minus: product.price | times: 100 | divided_by: product.compare_at_price_max | round -%}
            <div class="product-item-label product-item-label-sale" style="color: {{ settings.product_item_label_sale_color }}; background: {{ settings.product_item_label_sale_bg }};">
              {{ settings.product_item_label_sale | replace: '[percent]', percent }}
            </div>
          {%- endif -%}
        {%- endif -%}
        {%- assign tags = product.tags | join: ', ' | downcase -%}
        {%- if settings.product_item_label_new -%}
          {%- assign product_item_label_new = settings.product_item_label_new | downcase -%}
          {%- if tags contains settings.product_item_label_new -%}
            <div class="product-item-label product-item-label-sale" style="color: {{ settings.product_item_label_new_color }}; background: {{ settings.product_item_label_new_bg }};">
              {{ settings.product_item_label_new }}
            </div>
          {%- endif -%}
        {%- endif -%}
        {%- if settings.product_item_label_hot -%}
          {%- assign product_item_label_hot = settings.product_item_label_hot | downcase -%}
          {%- if tags contains settings.product_item_label_hot -%}
            <div class="product-item-label product-item-label-sale" style="color: {{ settings.product_item_label_hot_color }}; background: {{ settings.product_item_label_hot_bg }};">
              {{ settings.product_item_label_hot }}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
  <div class="product-item-caption">
    <div class="grid-x">
      <div class="cell auto">
        <h4 class="product-item-title">
          <a href="{{ shop.url }}{{ product.url }}">{{ product.title }}</a>
        </h4>
      </div>
      <div class="cell shrink show-for-large">
        {%- if settings.product_item_wishlist -%}
          <button class="product-item-button-wishlist" data-wishlist="{{ product.handle }}">
            <em class="sli sli-heart icon-add" title="{{ 'general.button.wishlist' | t }}"></em>
            <em class="sli sli-check icon-added" title="{{ 'general.button.wishlist_added' | t }}" data-tooltip data-position="top" data-alignment="center" data-hover-delay="0" data-trigger-class="is-tip"></em>
          </button>
        {%- endif -%}
      </div>
    </div>
    {%- if settings.product_item_description -%}
      <div class="product-item-description">
        {%- assign strcut = settings.product_item_description_strcut -%}
        {%- if strcut == blank or strcut < 1 -%}
          {%- assign strcut = 256 -%}
        {%- endif -%}
        {{ product.description | strip_html | slice: 0, strcut }}...
      </div>
    {%- endif -%}
    <div class="position-relative">
      <div class="product-item-buttons">
        {%- if product.available -%}
          {%- if product.variants.size == 1 -%}
            <a  href="{{ shop.url }}{{ product.url }}" class="product-item-button product-item-button-cart" title="{{ 'general.button.add_to_cart' | t }}" data-add-cart="{{ product.variants[0].id }}"><em class="sli sli-basket"></em> <span>{{ 'general.button.add_to_cart' | t }}</span></a>
          {%- else -%}
            <a href="{{ shop.url }}{{ product.url }}" class="product-item-button product-item-button-cart" title="{{ 'general.button.add_to_cart' | t }}"><em class="sli sli-basket"></em> <span>{{ 'general.button.add_to_cart' | t }}</span></a>
          {%- endif -%}
        {%- else -%}
          <a href="{{ shop.url }}{{ product.url }}" class="product-item-button product-item-button-cart" title="{{ 'general.button.add_to_cart' | t }}" disabled="disabled"><em class="sli sli-basket"></em> <span>{{ 'general.button.add_to_cart' | t }}</span></a>
        {%- endif -%}
        {%- if settings.product_item_compare -%}
          <button class="product-item-button product-item-button-compare" data-compare="{{ product.handle }}">
            <em class="sli sli-refresh icon-add" title="{{ 'general.button.compare' | t }}"></em>
            <em class="sli sli-check icon-added" title="{{ 'general.button.compare_added' | t }}" data-tooltip data-position="top" data-alignment="center" data-hover-delay="0" data-trigger-class="is-tip"></em>
            <span>{{ 'general.button.compare' | t }}</span>
          </button>
        {%- endif -%}
      </div>
    </div>
    <div class="product-item-group grid-x">
    <div class="product-item-price cell small-12 medium-6 large-6 xlarge-6 xxlarge-6 xxxlarge-6">
      {%- if product.compare_at_price_max > product.price -%}
        {%- assign found_one_in_stock = false -%}
        {%- for variant in product.variants -%}
          {%- if variant.available -%}
            {%- assign found_one_in_stock = true -%}
            <span class="product-item-price-sale">{{ variant.price | money }}</span>
            <del class="product-item-price-old"> {{ variant.compare_at_price | money }}</del>
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
        {%- if found_one_in_stock == false -%}
          {%- for variant in product.variants -%}
            {%- if variant.available -%}
              <span class="product-item-price-sale">
                {{ variant.price | money }}
              </span>
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- else -%}
        <span class="product-item-price-sale">{{ product.price | money }}</span>
      {%- endif -%}
    </div>
    {%- if settings.product_item_rating -%}
        <div class="product-item-rating cell small-12 medium-6 large-6 xlarge-6 xxlarge-6 xxxlarge-6">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>
      {%- endif -%}
    </div>
    <div class="product-item-info">
      {%- if settings.product_item_option -%}
        {%- if product.variants.size > 1 -%}
          <div class="product-item-option flex-container">
            <!-- show color swatches avaiable -->
            {%- for option_name in product.options -%}
              {%- assign option_index = forloop.index0 -%}
              {%- capture option_type -%}
                {%- include 'product-option-detector' -%}
              {%- endcapture -%}
              {%- assign option_type = option_type | strip | strip_newlines -%}
              {%- if option_type == 'color' or option_type == 'image' -%}
                {%- assign color = '' -%}
                {%- assign shown_list = '' -%}
                {%- for variant in product.variants -%}
                  {%- assign option_handle = variant.options[option_index] -%}
                  {%- unless shown_list contains option_handle -%}
                    {%- if variant.image -%}
                      <div class="product-item-option-image">
                        <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ variant.image | img_url: '48x48' }}" class="width-100 display-block lazyload" data-image-swap data-image-src="{{ variant.image | product_img_url: product_image_size, crop: 'center' }}" data-image-srcset="{{ variant.image | product_img_url: product_image_size, crop: 'center' }} 800w, {{ variant.image | product_img_url: product_image_size, crop: 'center', scale: 2 }} 1440w, {{ variant.image | product_img_url: product_image_size, crop: 'center', scale: 3 }} 1920w" alt="{{ option_handle | escape }}"/>
                      </div>
                    {%- elsif option_type == 'color' -%}
                      {%- capture color_code -%}
                        {%- include 'product-option-color-detector' -%}
                      {%- endcapture -%}
                      {%- assign color_code = color_code | strip | strip_newlines -%}
                      {%- if color_code != blank -%}
                        <div class="product-item-option-color" style="background: {{ color_code }};"></div>
                      {%- endif -%}
                    {%- endif -%}
                    {%- assign shown_list = shown_list | append: option_handle | append: ' ' -%}
                  {%- endunless -%}
                {%- endfor -%}
              {%- endif -%}
            {%- endfor -%}   
          </div>
        {%- endif -%}
      {%- endif -%}
    </div>
  </div>
</div>