<!-- /snippets/theme-footer.liquid -->
<div class="footer">
  <div class="grid-container"> 
    <div class="grid-x grid-margin-x"> 
      {%- for block in section.blocks -%}
        {%- if block.type == 'newsletter' -%}
          <div class="cell large-{{ block.settings.grid }} {{ block.settings.display }}">
            <div class="footer-newsletter">
              {%- if block.settings.title != blank -%}
                <h3 class="footer-newsletter-title">
                  {{ block.settings.title }}
                </h3>
              {%- endif -%}
              <div class="footer-newsletter-content">
                <form action="{{ block.settings.newsletter_action }}" method="post" target="_blank">  
                  <div class="grid-x footer-newsletter-wrap"> 
                    <div class="cell large-auto">
                      <input type="email" class="footer-newsletter-field" name="EMAIL" placeholder="{{ block.settings.newsletter_placeholder }}"/>
                    </div>
                    <div class="cell large-shrink">
                      <button type="submit" class="button primary footer-newsletter-button display-block width-100" name="subsrcibe">
                        {{ block.settings.newsletter_actiontext }}
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        {%- elsif block.type == 'social-media' -%}
          <div class="cell large-{{ block.settings.grid }} {{ block.settings.display }}">
            <div class="footer-social-media">
              <div class="footer-social-media-wrap">
                {%- if block.settings.title != blank -%}
                  <h3 class="footer-title footer-social-media-title">
                    {{ block.settings.title }}
                  </h3>
                {%- endif -%}
                {%- assign class_prefix = 'footer-' -%}
                {%- include 'social-media-color' -%}
              </div>
            </div>
          </div>
        {%- elsif block.type == 'link1' -%}
          {%- if block.settings.display == "" or block.settings.display == "show-for-large" -%}
            <div class="cell large-{{ block.settings.grid }} show-for-large">
              <div class="footer-linklist-1">
                {%- if block.settings.title != blank -%}
                  <h3 class="footer-title">
                    {{ block.settings.title }}
                  </h3>
                {%- endif -%}
                <ul class="no-bullet linklist-content">
                  {%- for link in linklists[block.settings.linklist].links -%}
                    <li>
                      <a href="{{ link.url }}">{{ link.title | escape }}</a>           
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          {%- endif -%}
          {%- if block.settings.display == "" or block.settings.display == "hide-for-large" -%}
            <div class="cell large-{{ block.settings.grid }} hide-for-large">
              <div class="accordion footer-linklist-1 footer-linklist-accordion" data-allow-all-closed="true" data-accordion>
                <div class="accordion-item" data-accordion-item>
                  <a class="accordion-title footer-linklist-accordion-title">
                    <span>{{ block.settings.title }}</span>
                    <svg class="svg-icon accordion-item-state accordion-item-state-close">
                      <use xlink:href="#icon-plus"></use>
                    </svg>
                    <svg class="svg-icon accordion-item-state accordion-item-state-open">
                      <use xlink:href="#icon-minus"></use>
                    </svg>
                  </a>
                  <div class="accordion-content padding-vertical-0" data-tab-content>
                    <ul class="no-bullet footer-linklist-accordion-content margin-0">
                      {%- for link in linklists[block.settings.linklist].links -%}
                        <li class="footer-linklist-accordion-item">
                          <a href="{{ link.url }}">{{ link.title | escape }}</a>           
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        {%- elsif block.type == 'link2' -%}
          {%- if block.settings.display == "" or block.settings.display == "show-for-large" -%}
            <div class="cell large-{{ block.settings.grid }} show-for-large">
              <div class="footer-linklist-2">
                {%- if block.settings.title != blank -%}
                  <h3 class="footer-title">
                    {{ block.settings.title }}
                  </h3>
                {%- endif -%}
                <div class="grid-x grid-margin-x">
                  <ul class="cell large-6 no-bullet linklist-content">
                    {%- for link in linklists[block.settings.linklist1].links -%}
                      <li>
                        <a href="{{ link.url }}">{{ link.title | escape }}</a>           
                      </li>
                    {%- endfor -%}
                  </ul>
                  <ul class="cell large-6 no-bullet linklist-content">
                    {%- for link in linklists[block.settings.linklist2].links -%}
                      <li>
                        <a href="{{ link.url }}">{{ link.title | escape }}</a>           
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            </div>
          {%- endif -%}
          {%- if block.settings.display == "" or block.settings.display == "hide-for-large" -%}
            <div class="cell large-{{ block.settings.grid }} hide-for-large">
              <div class="accordion footer-linklist-2 footer-linklist-accordion" data-allow-all-closed="true" data-accordion>
                <div class="accordion-item" data-accordion-item>
                  <a class="accordion-title footer-linklist-accordion-title">
                    <span>{{ block.settings.title }}</span>
                    <svg class="svg-icon accordion-item-state accordion-item-state-close">
                      <use xlink:href="#icon-plus"></use>
                    </svg>
                    <svg class="svg-icon accordion-item-state accordion-item-state-open">
                      <use xlink:href="#icon-minus"></use>
                    </svg>
                  </a>
                  <div class="accordion-content padding-vertical-0" data-tab-content>
                    <ul class="no-bullet footer-linklist-accordion-content margin-0">
                      {%- for link in linklists[block.settings.linklist1].links -%}
                        <li class="footer-linklist-accordion-item">
                          <a href="{{ link.url }}">{{ link.title | escape }}</a>           
                        </li>
                      {%- endfor -%}
                      {%- for link in linklists[block.settings.linklist2].links -%}
                        <li class="footer-linklist-accordion-item">
                          <a href="{{ link.url }}">{{ link.title | escape }}</a>           
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        {%- elsif block.type == 'payment' -%}
          <div class="cell large-{{ block.settings.grid }} {{ block.settings.display }}">
            <div class="footer-payment">
              {%- if block.settings.title != blank -%}
                <h3 class="footer-title footer-payment-title">
                  {{ block.settings.title }}
                </h3>
              {%- endif -%}
              <div class="footer-payment-content">
                <div class="footer-payment-container flex-container">
                  {%- if block.settings.payment_1 != blank -%}
                    <div class="footer-payment-cell">
                      <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.payment_1 |  img_url: 'x20' }}" class="footer-payment-logo lazyload" alt="{{ block.settings.payment_1.alt }}"/>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.payment_2 != blank -%}
                    <div class="footer-payment-cell">
                      <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.payment_2 |  img_url: 'x20' }}" class="footer-payment-logo lazyload" alt="{{ block.settings.payment_2.alt }}"/>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.payment_3 != blank -%}
                    <div class="footer-payment-cell">
                      <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.payment_3 |  img_url: 'x20' }}" class="footer-payment-logo lazyload" alt="{{ block.settings.payment_3.alt }}"/>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.payment_4 != blank -%}
                    <div class="footer-payment-cell">
                      <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.payment_4 |  img_url: 'x20' }}" class="footer-payment-logo lazyload" alt="{{ block.settings.payment_4.alt }}"/>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.payment_5 != blank -%}
                    <div class="footer-payment-cell">
                      <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.payment_5 |  img_url: 'x20' }}" class="footer-payment-logo lazyload" alt="{{ block.settings.payment_5.alt }}"/>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.security_1 != blank or block.settings.security_2 != blank or block.settings.security_1 != blank -%}
                <div class="footer-payment-security">
                  <div class="footer-payment-security-container flex-container align-middle">
                    {%- if block.settings.security_1 != blank -%}
                      <div class="footer-payment-security-cell">
                        <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.security_1 |  img_url: 'x60' }}" class="footer-payment-security-logo lazyload" alt="{{ block.settings.security_1.alt }}"/>
                      </div>
                    {%- endif -%}
                    {%- if block.settings.security_2 != blank -%}
                      <div class="footer-payment-security-cell">
                        <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.security_2 |  img_url: 'x60' }}" class="footer-payment-security-logo lazyload" alt="{{ block.settings.security_2.alt }}"/>
                      </div>
                    {%- endif -%}
                    {%- if block.settings.security_3 != blank -%}
                      <div class="footer-payment-security-cell">
                        <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.security_3 |  img_url: 'x60' }}" class="footer-payment-security-logo lazyload" alt="{{ block.settings.security_3.alt }}"/>
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}
                  {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,klarna,litecoin,maestro,master,paypal,stripe,shopify_pay,visa' | split: ',' -%}
                  {%- assign payments = block.settings.payments | remove: ' ' | split: ',' -%}
                  {%- for payment in payments -%}
                    {% if payment_icons_available contains payment %}
                      <div class="footer-payment-cell">
                        <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ payment | payment_type_img_url }}"  class="footer-payment-logo lazyload" alt="{{ payment }}" />
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
          </div>
        {%- elsif block.type == 'feature' -%}
          <div class="cell large-{{ block.settings.grid }} {{ block.settings.display }}">
            <div class="footer-feature">
              <div class="grid-container fluid">
                <div class="grid-x grid-margin-x small-up-{{ block.settings.column }} medium-up-{{ block.settings.column }} large-up-{{ block.settings.column }}">
                  {%- if block.settings.title_1 != blank or block.settings.description_1 != blank -%}
                    <div class="cell footer-feature-item-wrap">
                      <div class="footer-feature-item text-center">
                        {%- if block.settings.image_1 != blank -%}
                          <div class="footer-feature-image">
                            <a href="{{ block.settings.link_1 }}">
                              <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.image_1 | img_url: 'master' }}" class="lazyload"/>
                            </a>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.icon_1 != blank -%}
                          <div class="footer-feature-icon">
                            <a href="{{ block.settings.link_1 }}">
                              <em class="sli sli-{{ block.settings.icon_1 }}"></em>
                            </a>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.title_1 != blank -%}
                          <h4 class="footer-feature-title">
                            <a href="{{ block.settings.link_1 }}">
                              {{ block.settings.title_1 }}
                            </a>
                          </h4>
                        {%- endif -%}
                        {%- if block.settings.description_1 != blank -%}
                          <div class="footer-feature-description">{{ block.settings.description_1 }}</div>
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.title_2 != blank or block.settings.description_2 != blank -%}
                    <div class="cell footer-feature-item-wrap">
                      <div class="footer-feature-item text-center">
                        {%- if block.settings.image_2 != blank -%}
                          <div class="footer-feature-image">
                            <a href="{{ block.settings.link_2 }}">
                              <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.image_2 | img_url: 'master' }}" class="lazyload"/>
                            </a>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.icon_2 != blank -%}
                          <div class="footer-feature-icon">
                            <a href="{{ block.settings.link_2 }}">
                              <em class="sli sli-{{ block.settings.icon_2 }}"></em>
                            </a>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.title_2 != blank -%}
                          <h4 class="footer-feature-title">
                            <a href="{{ block.settings.link_2 }}">
                              {{ block.settings.title_2 }}
                            </a>
                          </h4>
                        {%- endif -%}
                        {%- if block.settings.description_2 != blank -%}
                          <div class="footer-feature-description">{{ block.settings.description_2 }}</div>
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.title_3 != blank or block.settings.description_3 != blank -%}
                    <div class="cell footer-feature-item-wrap">
                      <div class="footer-feature-item text-center">
                        {%- if block.settings.image_3 != blank -%}
                          <div class="footer-feature-image">
                            <a href="{{ block.settings.link_3 }}">
                              <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.image_3 | img_url: 'master' }}" class="lazyload"/>
                            </a>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.icon_3 != blank -%}
                          <div class="footer-feature-icon">
                            <a href="{{ block.settings.link_3 }}">
                              <em class="sli sli-{{ block.settings.icon_3 }}"></em>
                            </a>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.title_3 != blank -%}
                          <h4 class="footer-feature-title">
                            <a href="{{ block.settings.link_3 }}">
                              {{ block.settings.title_3 }}
                            </a>
                          </h4>
                        {%- endif -%}
                        {%- if block.settings.description_3 != blank -%}
                          <div class="footer-feature-description">{{ block.settings.description_3 }}</div>
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.title_4 != blank or block.settings.description_4 != blank -%}
                    <div class="cell footer-feature-item-wrap">
                      <div class="footer-feature-item text-center">
                        {%- if block.settings.image_4 != blank -%}
                          <div class="footer-feature-image">
                            <a href="{{ block.settings.link_4 }}">
                              <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.image_4 | img_url: 'master' }}" class="lazyload"/>
                            </a>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.icon_4 != blank -%}
                          <div class="footer-feature-icon">
                            <a href="{{ block.settings.link_4 }}">
                              <em class="sli sli-{{ block.settings.icon_4 }}"></em>
                            </a>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.title_4 != blank -%}
                          <h4 class="footer-feature-title">
                            <a href="{{ block.settings.link_4 }}">
                              {{ block.settings.title_4 }}
                            </a>
                          </h4>
                        {%- endif -%}
                        {%- if block.settings.description_4 != blank -%}
                          <div class="footer-feature-description">{{ block.settings.description_4 }}</div>
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.title_5 != blank or block.settings.description_5 != blank -%}
                    <div class="cell footer-feature-item-wrap">
                      <div class="footer-feature-item text-center">
                        {%- if block.settings.image_5 != blank -%}
                          <div class="footer-feature-image">
                            <a href="{{ block.settings.link_5 }}">
                              <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.image_5 | img_url: 'master' }}" class="lazyload"/>
                            </a>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.icon_5 != blank -%}
                          <div class="footer-feature-icon">
                            <a href="{{ block.settings.link_5 }}">
                              <em class="sli sli-{{ block.settings.icon_5 }}"></em>
                            </a>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.title_5 != blank -%}
                          <h5 class="footer-feature-title">
                            <a href="{{ block.settings.link_5 }}">
                              {{ block.settings.title_5 }}
                            </a>
                          </h5>
                        {%- endif -%}
                        {%- if block.settings.description_5 != blank -%}
                          <div class="footer-feature-description">{{ block.settings.description_5 }}</div>
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endif -%}
                  {%- if block.settings.title_6 != blank or block.settings.description_6 != blank -%}
                    <div class="cell footer-feature-item-wrap">
                      <div class="footer-feature-item text-center">
                        {%- if block.settings.image_6 != blank -%}
                          <div class="footer-feature-image">
                            <a href="{{ block.settings.link_6 }}">
                              <img src="{{ 'icon-loader-clock.svg' | asset_url }}" data-src="{{ block.settings.image_6 | img_url: 'master' }}" class="lazyload"/>
                            </a>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.icon_6 != blank -%}
                          <div class="footer-feature-icon">
                            <a href="{{ block.settings.link_6 }}">
                              <em class="sli sli-{{ block.settings.icon_6 }}"></em>
                            </a>
                          </div>
                        {%- endif -%}
                        {%- if block.settings.title_6 != blank -%}
                          <h6 class="footer-feature-title">
                            <a href="{{ block.settings.link_6 }}">
                              {{ block.settings.title_6 }}
                            </a>
                          </h6>
                        {%- endif -%}
                        {%- if block.settings.description_6 != blank -%}
                          <div class="footer-feature-description">{{ block.settings.description_6 }}</div>
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
    <div class="footer-copyright text-center">
      <div class="copyright">&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}</div>  
    </div>
  </div>
</div>