<!-- /sections/index-collection-tab.liquid -->
<div class="{{ section.settings.display }}">
  <div class="grid-container">
    <div class="index-collection-tab-container box border-none">
      {%- if section.settings.title != blank or section.settings.sub_title != blank -%}
        <div class="box-divider grid-x">
          {%- if section.settings.title != blank -%}
            <h2 class="box-title width-100">{{ section.settings.title }}</h2>
          {%- endif -%}
          {%- if section.settings.sub_title != blank -%}
            <p class="box-sub-title width-100">{{ section.settings.sub_title }}</p>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="box-content">
        {% if section.blocks.size > 0 %}
          <ul  id="index-collection-tab-{{ section.id }}" class="index-collection-tab-tab grid-x align-center-middle no-bullet" data-tabs>
            {% for block in section.blocks %}
              <li class="tabs-title index-collection-tab-title text-uppercase {% if forloop.first == true %}is-active{% endif %}"><a href="#product-{{ section.id }}-{{forloop.index}}" class="padding-0">{{ block.settings.title }}</a></li>
            {% endfor %}
          </ul>
          <div class="index-collection-tab-content" data-tabs-content="index-collection-tab-{{ section.id }}">
            {% for block in section.blocks %}
              <div class="tabs-panel padding-0 index-collection-tab-panel {% if forloop.first == true %}is-active{% endif %}" id="product-{{ section.id }}-{{forloop.index}}">
                <div class="grid-x grid-margin-x grid-margin-y small-up-{{ section.settings.column_small }} medium-up-{{ section.settings.column_medium }} large-up-{{ section.settings.column_large }} xlarge-up-{{ section.settings.column_xlarge }} xxlarge-up-{{ section.settings.column_xxlarge }} xxxlarge-up-{{ section.settings.column_xxxlarge }}">
                  {% for product in collections[block.settings.collection].products limit: section.settings.limit %}
                    <div class="product-item cell">
                      <div class="product-grid">
                        {% include 'index-product-item' %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Collection Tab",
  "class": "index-section index-collection-tab",
  "settings": [
    {
      "type": "select",
      "id": "display",
      "label": "Display on",
      "options": [
        {
          "value": "",
          "label": "Desktop & Mobile"
        },
        {
          "value": "show-for-large",
          "label": "Desktop only"
        },
        {
          "value": "hide-for-large",
          "label": "Mobile only"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Collection title"
    },
    {
      "type": "html",
      "id": "sub_title",
      "label": "Collection sub-title"
    },
    {
      "type": "header",
      "content": "Responsive columns"
    },
    {
      "type": "select",
      "id": "column_small",
      "label": "Products per row",
      "info": "For small screen (0px - 550px)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "column_medium",
      "label": "Products per row",
      "info": "For medium screen (551px - 800px)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "column_large",
      "label": "Products per row",
      "info": "For large screen (801px - 1260px)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "column_xlarge",
      "label": "Products per row",
      "info": "For xlarge screen (1261px - 1440px)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        }
      ],
      "default": "4"
    },
    {
      "type": "select",
      "id": "column_xxlarge",
      "label": "Products per row",
      "info": "For xxlarge screen (1441px - 1680px)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        }
      ],
      "default": "4"
    },
    {
      "type": "select",
      "id": "column_xxxlarge",
      "label": "Products per row",
      "info": "For xxxlarge screen (1681px - infinity)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        }
      ],
      "default": "4"
    },
    {
      "type": "number",
      "id": "limit",
      "label": "Limit product show",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Tab",
      "category": "Collection",
      "blocks": [
        {
          "type": "tab"
        },
        {
          "type": "tab"
        },
        {
          "type": "tab"
        }
      ]
    }
  ]
}
{% endschema %}